[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/tabular"]
	path = vim/vim.symlink/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/powerline"]
	path = vim/vim.symlink/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundle/snippets"]
	path = vim/vim.symlink/bundle/snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/rails"]
	path = vim/vim.symlink/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/coffee-script"]
	path = vim/vim.symlink/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/delimitMate"]
	path = vim/vim.symlink/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/vim.symlink/bundle/zencoding"]
	path = vim/vim.symlink/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/vim.symlink/bundle/snipmate"]
	path = vim/vim.symlink/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/vim.symlink/bundle/matchit"]
	path = vim/vim.symlink/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/vim.symlink/bundle/commentary"]
	path = vim/vim.symlink/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/snipmate-snippets"]
	path = vim/vim.symlink/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "vim/vim.symlink/bundle/addon-mw-utils"]
	path = vim/vim.symlink/bundle/addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim.symlink/bundle/tlib"]
	path = vim/vim.symlink/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/vim.symlink/bundle/neocomplcache"]
	path = vim/vim.symlink/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
